.profile-info-content {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.title {
  font-size: 14px;
  color: #57606a;
  line-height: 16px;
}
