.work-content {
    padding: 14px 12px 12px;

    /* border: 1px solid hsl(210deg 18% 87% / 100%); */
    border-radius: 6px;
    color: #24292f;
}

.work-blank {
    margin: 4px 0;

    /* width: 100%; */
    height: 1px;
    border-bottom: 0.8px solid hsl(210deg 18% 87% / 100%);
}

.work-title {
    height: 32px;
    font-size: 12px;
    line-height: 32px;
}

.work-detail-content {
    padding: 6px 6px 2px;
}

.work-detail {
    margin-right: 16px;
    color: #57606a;
    font-size: 12px;
    line-height: 22px;
}

